:root {
    --main-color: rgb(155, 155, 241);
    --font: "Trebuchet MS";

}

.NavBar {
    top: 0;
    margin: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
    /* visibility: hidden; */
    transition: 0.7s;
}

.NavBarList {
    display: flex;
    list-style-type: none;
    height: 8vh;
    background: var(--main-color);
    margin: 0;
    padding-left: 1vh;
}

.NavBarItem {
    padding: 1vh 1.5vh 1vh 1.5vh;
    margin: 1.5vh 2vh 1.5vh 0.5vh;
    align-content: end;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 1vh;
}

.NavBarItem:hover {
    background-color: rgb(0, 0, 0);
}

.NavBarItem:hover>.NavLink {
    color: white;
}

.NavBarImage {
    margin: 1vh 2vh 1vh 2vh;
    padding: 0.5vh;
    cursor: pointer;
}

.houseIcon {
    max-width: 100%;
    max-height: 100%;
    transition: 0.2s;
}

.houseIcon:hover {
    filter: invert(100%);
}

.NavLink {
    text-decoration: none;
    color: black;
}

.hideNavbar {
    top: -8vh;
}

/* .content {
    background: var(--main-color);
    color: black;
    transition: 0.5s;
}

.content:hover {
    background: black;
    color: white;
} */